<html>
  
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css"></style>
  </head>
  
  <body>
    <div id="app" >
      <div v-if="seen">
	{{ getMessage2() }}
      </div>
      <button v-on:click="toggleSeen"> {{getMessage()}} </button>
      <button v-on:click="loadBigTalk">Load Bigtalk</button>
      
      <table >
	<!--
	<thead>

	</thead>-->
	<tbody  v-on:change="process()"  v-on:keydown.right="moveFocusRight" v-on:keydown.left="moveFocusRight" v-on:keydown.up="moveFocusRight" v-on:keydown.down="moveFocusRight">
	  <tr v-for="entry in columns">
	    <td v-for="value in entry.values">
	      <div v-bind:class="[value.selected() ? 'cell2' : 'cell']">
		<!--		  -->
		<input v-model="value.value"/>
		</div>
	    </td>
	  </tr>

	</tbody>

      </table>
    </div>
    <script src="page.js"></script>
  </body>

</html>
