tr {
    border: 0px;
    background: #CCCCCCFF;
}
td{
    border: 0;
    padding: 0;
}

table{
    border-spacing: 0;
}

#app {
   
    
}

.cell {
	background: #FFFFFFFF;
	//padding: 5px;
	height: 25px;
	border: 0;
	transition-property: background;
	transition-duration: 0.5s;
				 
}

.cell2{
    background: #DDDDDDFF;
    height: 25px;
    border: 0;
    transition-property: background;
    transition-duration: 0.25s;
}
input {
    padding: 0rem 0rem;
    border: 0;
    color:#000;
    background:Transparent;   
}
